<p-accordion [multiple]="true">
  <p-accordionTab header="基本信息" [selected]="true">
    <h2>基本信息</h2>
    <ul class="nopoint">
      <li>
        <p class="fa fa-user">姓名：{{basicInformation?.name}}</p>
      </li>
      <li>
        <p class="fa fa-mars">性别：{{basicInformation?.sex}}</p>
      </li>
      <li>
        <p class="fa fa-birthday-cake">生日：{{basicInformation?.birthday}}</p>
      </li>
      <li>
        <p class="fa fa-briefcase">工作经验：{{basicInformation?.workExperience}}</p>
      </li>
      <li>
        <p class="fa fa-phone-square">电话：{{basicInformation?.tel}}</p>
      </li>
      <li>
        <p class="fa fa-envelope">邮箱：
          <a href="mailto:#">{{basicInformation?.email}}</a>
        </p>
      </li>
    </ul>
  </p-accordionTab>

  <p-accordionTab header="教育背景" [selected]="true">
    <h2>教育背景</h2>
    <nz-timeline>
      <ul class="nopoint">
        <li *ngFor="let eudcation of educations">
          <nz-timeline-item>
            <strong class="title">{{eudcation.period}},
              <a target="_blank" rel="noopener noreferrer" href="{{eudcation.schoolUrl}}">{{eudcation.school}}</a>, {{eudcation.specialty}}, {{eudcation.level}}, {{eudcation.city}}</strong>
            <div class="ui-g ui-md">
              <p class="ui-g-2 ui-md-2">主修课程：</p>
              <div class="ui-g-10 ui-md-10">
                <p *ngFor="let course of eudcation.courses" class="line">
                  <nz-tag [nzColor]="'#337ab7'"><strong class="label">{{course}}</strong></nz-tag>&nbsp;
                </p>
              </div>
            </div>
          </nz-timeline-item>
        </li>
      </ul>
    </nz-timeline>
  </p-accordionTab>

  <p-accordionTab header="工作经历" [selected]="true">
    <h2>工作经历</h2>
    <nz-timeline>
      <ul class="nopoint">
        <li *ngFor="let career of careers">
          <nz-timeline-item>
            <strong class="title">{{career.period}}, {{career.company}}, {{career.post}}, {{career.city}}</strong>
            <!-- <p>工作内容：{{career.duty}}</p>
            <p>使用技术：{{career.technology}}</p>
            <p>涉及项目：{{career.project}}</p> -->
            <div class="ui-g ui-md">
              <p class="ui-g-2 ui-md-2">工作内容：</p>
              <div class="ui-g-10 ui-md-10">
                <p *ngFor="let duty of career.duty" class="line">
                  <span>{{duty}};</span>&nbsp;
                </p>
              </div>
            </div>
            <div class="ui-g ui-md">
              <p class="ui-g-2 ui-md-2">使用技术：</p>
              <div class="ui-g-10 ui-md-10">
                <p *ngFor="let technology of career.technology" class="line">
                  <span>{{technology}};</span>&nbsp;
                </p>
              </div>
            </div>
            <div class="ui-g ui-md">
              <p class="ui-g-2 ui-md-2">涉及项目：</p>
              <div class="ui-g-10 ui-md-10">
                <p *ngFor="let project of career.project" class="line">
                  <span>&quot;{{project}}&quot;;</span>&nbsp;
                </p>
              </div>
            </div>
          </nz-timeline-item>
        </li>
      </ul>
    </nz-timeline>
  </p-accordionTab>

  <p-accordionTab header="能力" [selected]="true">
    <h2>能力</h2>
    <h3>计算机</h3>

    <ul class="nopoint">
      <li>
        <p class="line">语言：</p>
        <p *ngFor="let program of techSkill?.program" class="line">
          <nz-tag [nzColor]="'#337ab7'"><strong class="label">{{program}}</strong></nz-tag>&nbsp;
        </p>
      </li>
      <li>
        <p class="line">数据库：</p>
        <p *ngFor="let database of techSkill?.database" class="line">
          <nz-tag [nzColor]="'#5bc0de'"><strong class="label">{{database}}</strong></nz-tag>&nbsp;
        </p>
      </li>
      <li>
        <p class="line">效率工具：</p>
        <p *ngFor="let tool of techSkill?.tools" class="line">
          <nz-tag [nzColor]="'#5cb85c'"><strong class="label">{{tool}}</strong></nz-tag>&nbsp;
        </p>
      </li>
      <li>
        <p class="line">库&框架：</p>
        <p *ngFor="let library of techSkill?.library" class="line">
          <nz-tag [nzColor]="'#f0ad4e'"><strong class="label">{{library}}</strong></nz-tag>&nbsp;
        </p>
      </li>
      <li>
        <p class="line">其他：</p>
        <p *ngFor="let other of techSkill?.other" class="line">
          <nz-tag [nzColor]="'#d9534f'"><strong class="label">{{other}}</strong></nz-tag>&nbsp;
        </p>
      </li>
    </ul>
    <h3>语言</h3>
    <ul class="nopoint">
      <li *ngFor="let lang of langSkills">
        <p class="line" nzTitle="{{lang.exams}}" nzPlacement="right" nz-tooltip>{{lang.name}}, {{lang.grade}}</p>&nbsp;&nbsp;
        <nz-rate [ngModel]="lang.score/2" nzAllowHalf nzDisabled></nz-rate>
        <!-- <p-rating class="line" [ngModel]="lang.score" readonly="true" stars="10" [cancel]="false"></p-rating> -->
      </li>
    </ul>
  </p-accordionTab>

  <p-accordionTab header="爱好" [selected]="true">
    <h2>爱好</h2>
    <p *ngFor="let hobby of hobbies" class="line">
      <nz-tag [nzColor]="'#337ab7'"><strong class="label">{{hobby}}</strong></nz-tag>&nbsp;
    </p>
  </p-accordionTab>

  <p-accordionTab header="自我评价" [selected]="true">
    <h2>自我评价</h2>
    <p>{{this.selfEvaluation?.evaluation}}</p>
    <p>{{this.selfEvaluation?.objective}}</p>
  </p-accordionTab>
</p-accordion>

<nz-back-top></nz-back-top>