<p-accordion [multiple]="true">
  <p-accordionTab header="{{'CV.BasicInformation.BasicInformation' | translate}}" [selected]="true">
    <h2>{{'CV.BasicInformation.BasicInformation' | translate}}</h2>
    <ul class="nopoint">
      <li>
        <p class="fa fa-user">{{'CV.BasicInformation.Name' | translate}}: {{basicInformation?.name}}</p>
      </li>
      <li>
        <p class="fa fa-mars">{{'CV.BasicInformation.Gender' | translate}}: {{basicInformation?.gender}}</p>
      </li>
      <li>
        <p class="fa fa-birthday-cake">{{'CV.BasicInformation.Birthday' | translate}}: {{basicInformation?.birthday}}</p>
      </li>
      <li>
        <p class="fa fa-briefcase">{{'CV.BasicInformation.WorkExperience' | translate}}: {{basicInformation?.workExperience}}</p>
      </li>
      <li>
        <p class="fa fa-phone-square">{{'CV.BasicInformation.Tel' | translate}}: {{basicInformation?.tel}}</p>
      </li>
      <li>
        <p class="fa fa-envelope">{{'CV.BasicInformation.Email' | translate}}: 
          <a href="mailto:#">{{basicInformation?.email}}</a>
        </p>
      </li>
    </ul>
  </p-accordionTab>

  <p-accordionTab header="{{'CV.EducationalExperience.EducationalExperience' | translate}}" [selected]="true">
    <h2>{{'CV.EducationalExperience.EducationalExperience' | translate}}</h2>
    <nz-timeline>
      <ul class="nopoint">
        <li *ngFor="let eudcation of educations">
          <nz-timeline-item>
            <strong class="title">{{eudcation.period}},
              <a target="_blank" rel="noopener noreferrer" href="{{eudcation.schoolUrl}}">{{eudcation.school}}</a>, {{eudcation.specialty}}, {{eudcation.level}}, {{eudcation.city}}</strong>
            <div class="ui-g ui-md">
              <p class="ui-g-2 ui-md-2">{{'CV.EducationalExperience.MajorCourses' | translate}}</p>
              <div class="ui-g-10 ui-md-10">
                <p *ngFor="let course of eudcation.majorCourses" class="line">
                  <nz-tag [nzColor]="'#337ab7'"><strong class="label">{{course}}</strong></nz-tag>&nbsp;
                </p>
              </div>
            </div>
          </nz-timeline-item>
        </li>
      </ul>
    </nz-timeline>
  </p-accordionTab>

  <p-accordionTab header="{{'CV.CareerExperience.CareerExperience' | translate}}" [selected]="true">
    <h2>{{'CV.CareerExperience.CareerExperience' | translate}}</h2>
    <nz-timeline>
      <ul class="nopoint">
        <li *ngFor="let career of careers">
          <nz-timeline-item>
            <strong class="title">{{career.period}}, {{career.company}}, {{career.post}}, {{career.city}}</strong>
            <!-- <p>工作内容：{{career.duty}}</p>
            <p>使用技术：{{career.technology}}</p>
            <p>涉及项目：{{career.project}}</p> -->
            <div class="ui-g ui-md">
              <p class="ui-g-2 ui-md-2">{{'CV.CareerExperience.Duties' | translate}}</p>
              <div class="ui-g-10 ui-md-10">
                <p *ngFor="let duty of career.duties" class="line">
                  <span>{{duty}};</span>&nbsp;
                </p>
              </div>
            </div>
            <div class="ui-g ui-md">
              <p class="ui-g-2 ui-md-2">{{'CV.CareerExperience.Technologies' | translate}}</p>
              <div class="ui-g-10 ui-md-10">
                <p *ngFor="let technology of career.technologies" class="line">
                  <span>{{technology}};</span>&nbsp;
                </p>
              </div>
            </div>
            <div class="ui-g ui-md">
              <p class="ui-g-2 ui-md-2">{{'CV.CareerExperience.Projects' | translate}}</p>
              <div class="ui-g-10 ui-md-10">
                <p *ngFor="let project of career.projects" class="line">
                  <span>&quot;{{project}}&quot;;</span>&nbsp;
                </p>
              </div>
            </div>
          </nz-timeline-item>
        </li>
      </ul>
    </nz-timeline>
  </p-accordionTab>

  <p-accordionTab header="{{'CV.Skills.Skills' | translate}}" [selected]="true">
    <h2>{{'CV.Skills.Skills' | translate}}</h2>
    <h3>{{'CV.Skills.Computer' | translate}}</h3>

    <ul class="nopoint">
      <li>
        <p class="line">{{'CV.Skills.Language' | translate}}: </p>
        <p *ngFor="let language of techSkill?.language" class="line">
          <nz-tag [nzColor]="'#337ab7'"><strong class="label">{{language}}</strong></nz-tag>&nbsp;
        </p>
      </li>
      <li>
        <p class="line">{{'CV.Skills.Database' | translate}}: </p>
        <p *ngFor="let database of techSkill?.database" class="line">
          <nz-tag [nzColor]="'#5bc0de'"><strong class="label">{{database}}</strong></nz-tag>&nbsp;
        </p>
      </li>
      <li>
        <p class="line">{{'CV.Skills.EfficiencyTools' | translate}}: </p>
        <p *ngFor="let tool of techSkill?.tools" class="line">
          <nz-tag [nzColor]="'#5cb85c'"><strong class="label">{{tool}}</strong></nz-tag>&nbsp;
        </p>
      </li>
      <li>
        <p class="line">{{'CV.Skills.Library' | translate}}: </p>
        <p *ngFor="let library of techSkill?.library" class="line">
          <nz-tag [nzColor]="'#f0ad4e'"><strong class="label">{{library}}</strong></nz-tag>&nbsp;
        </p>
      </li>
      <li>
        <p class="line">{{'CV.Skills.Others' | translate}}: </p>
        <p *ngFor="let other of techSkill?.others" class="line">
          <nz-tag [nzColor]="'#d9534f'"><strong class="label">{{other}}</strong></nz-tag>&nbsp;
        </p>
      </li>
    </ul>
    <h3>{{'CV.Skills.Language' | translate}}</h3>
    <ul class="nopoint">
      <li *ngFor="let lang of langSkills">
        <p class="line" nzTitle="{{lang.exams}}" nzPlacement="right" nz-tooltip>{{lang.name}}, {{lang.grade}}</p>&nbsp;&nbsp;
        <nz-rate [ngModel]="lang.score/2" nzAllowHalf nzDisabled></nz-rate>
        <!-- <p-rating class="line" [ngModel]="lang.score" readonly="true" stars="10" [cancel]="false"></p-rating> -->
      </li>
    </ul>
  </p-accordionTab>

  <p-accordionTab header="{{'CV.Hobbies' | translate}}" [selected]="true">
    <h2>{{'CV.Hobbies' | translate}}</h2>
    <p *ngFor="let hobby of hobbies" class="line">
      <nz-tag [nzColor]="'#337ab7'"><strong class="label">{{hobby}}</strong></nz-tag>&nbsp;
    </p>
  </p-accordionTab>

  <p-accordionTab header="{{'CV.SelfEvaluation' | translate}}" [selected]="true">
    <h2>{{'CV.SelfEvaluation' | translate}}</h2>
    <p>{{this.selfEvaluation?.evaluation}}</p>
    <p>{{this.selfEvaluation?.objective}}</p>
  </p-accordionTab>
</p-accordion>

<nz-back-top></nz-back-top>