<p-card>
  <h1>
    <p class="label label-primary">基本信息</p>
  </h1>
  <p class="fa fa-user">姓名：{{basicInformation?.name}}</p>
  <p class="fa fa-mars">性别：{{basicInformation?.sex}}</p>
  <p class="fa fa-birthday-cake">生日：{{basicInformation?.birthday}}</p>
  <p class="fa fa-briefcase">工作经验：{{basicInformation?.workExperience}}</p>
  <p class="fa fa-phone-square">电话：{{basicInformation?.tel}}</p>
  <p class="fa fa-envelope">邮箱：<a href="mailto:#">{{basicInformation?.email}}</a></p>
</p-card>

<p-card>
  <h2>教育背景</h2>
  <ul>
    <li *ngFor="let eudcation of educations">
      <p>{{eudcation.period}}, {{eudcation.school}}, {{eudcation.specialty}}, {{eudcation.level}}, {{eudcation.city}}</p>
      <p>{{eudcation.courses}}</p>
    </li>
  </ul>
</p-card>

<p-card>
  <h2>工作经历</h2>
  <ul>
    <li *ngFor="let career of careers">
      <p>{{career.period}}, {{career.company}}, {{career.post}}, {{career.city}}</p>
      <p>{{career.duty}}</p>
      <p>{{career.technology}}</p>
      <p>{{career.project}}</p>
    </li>
  </ul>
</p-card>

<p-card>
  <h2>能力</h2>
  <h3>计算机</h3>
  <p>语言：{{this.techSkill?.program}}</p>
  <p>数据库：{{this.techSkill?.database}}</p>
  <p>效率工具：{{this.techSkill?.tools}}</p>
  <p>库&框架：{{this.techSkill?.library}}</p>
  <p>其他：{{this.techSkill?.other}}</p>
  <h3>语言</h3>
  <ul>
    <li *ngFor="let lang of langSkills">
      <p>{{lang.name}}, {{lang.grade}}, {{lang.score}}</p>
      <p-rating [ngModel]="lang.score" readonly="true" stars="10" [cancel]="false"></p-rating>
    </li>
  </ul>
</p-card>

<p-card>
  <h2>自我评价</h2>
  <p>{{this.selfEvaluation?.evaluation}}</p>
  <p>{{this.selfEvaluation?.objective}}</p>
</p-card>