<p-accordion [multiple]="true">
    <p-accordionTab *ngFor="let project of projects" header="{{project?.name}}, {{project?.organization}}, {{project?.city}}, {{project?.startDate}} - {{project?.endDate}}"
        [selected]="false">
        <nz-divider nzText="{{'PROJECT.Detail.Description' | translate}}" nzOrientation="left"></nz-divider>
        <p>{{project?.description?.header}}</p>
        <ul *ngFor="let dcp of project?.description?.details" class="nopoint">
            <li>
                <p>{{dcp}}</p>
            </li>
        </ul>

        <nz-divider nzText="{{'PROJECT.Detail.Duties' | translate}}" nzOrientation="left"></nz-divider>
        <ul *ngFor="let duty of project?.duties" class="nopoint">
            <li>
                <p>{{duty}}</p>
            </li>
        </ul>

        <nz-divider nzText="{{'PROJECT.Detail.Technologies' | translate}}" nzOrientation="left"></nz-divider>
        <ul class="nopoint">
            <span *ngFor="let tech of project?.technologies">
                <li>
                    <p class="line">{{tech?.name}}：</p>
                    <p *ngFor="let content of tech?.contents" class="line">
                        <nz-tag [nzColor]="'#337ab7'">
                            <strong class="label">{{content}}</strong>
                        </nz-tag>&nbsp;
                    </p>
                </li>
            </span>
        </ul>

        <nz-collapse *ngIf="project?.images !=null && project?.images.count != 0">
            <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name | translate" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                <p-galleria [images]="project?.images" panelWidth="800" panelHeight="600" [showCaption]="true" [autoPlay]="true" [transitionInterval]="2000"></p-galleria>
            </nz-collapse-panel>
        </nz-collapse>
    </p-accordionTab>
</p-accordion>